@import 'tailwindcss';

@theme {
  /* Custom grid template columns */
  --grid-cols-13: repeat(13, minmax(0, 1fr));

  /* Custom blue colors */
  --color-blue-400: #2589fe;
  --color-blue-500: #0070f3;
  --color-blue-600: #2f6feb;

  /* Keyframes */
  --animate-shimmer: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@plugin "@tailwindcss/forms";

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
